node_modules/
*.log
*.tmp
.DS_Store
.env
.env.*
adapter-api-key
upstream-email
upstream-password
upstream-session-cookie
upstream-session-token
upstream-token
first-site-email
first-site-password
first-site-session-cookie
first-site-session-token
second-site-email
second-site-password
second-site-token
